@mixin forTablet(){
    @media (max-width: 1400px) {
        @content;
    }
}

@mixin forCell(){
    @media (max-width: 660px) {
        @content;
    }
}

@mixin setMinFont(){
    @media (max-width: 350px) {
        @content;
    }
}


$Violet: hsl(257, 40%, 49%);
$Soft-Magenta: hsl(300, 69%, 71%);
$Font-size: 16px;