@use 'variables' as v;  

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@function deleteType($val){
    @return $val/($val*0 + 1);
}

@function toRem($val){
    @return #{(deleteType($val))/(deleteType(v.$Font-size))}rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
    @include v.forCell(){
        font-size: 10px;
    }
    @include v.setMinFont(){
        font-size: 7px;
    }
}

body{
    min-height: 100vh;
    background-color: v.$Violet;
    background-image: url("../images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include v.forTablet(){
        background-image: url("../images/bg-mobile.svg");
        background-size: contain;
        align-items: start;
    }
}

.header{
    
    margin: toRem(44px) 0 toRem(53.5px); 
    &__img{
        width: 214px;
        height: 53px;
        @include v.forTablet{
            width: 258px;
            height: auto;
        }
        @include v.forCell(){
            width: 50%;
            height: auto;
        }
    }
    @include v.forTablet{
        margin: toRem(63.5px) toRem(-2.5px) toRem(87.5px);     
    }
    @include v.forCell{
        margin: toRem(63.5px) toRem(-4.5px) toRem(32.5px);  
    }
}

.content{
    width: 100%;
    display: flex;
    padding: toRem(29.5px) 0 toRem(20.6px);
    @include v.forTablet(){
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: toRem(29.5px) 0 toRem(128px);
    }
    @include v.forCell(){
        padding: toRem(29.5px) 0 toRem(95px);
    }
    &__img{
        box-sizing: content-box;
        padding-left: toRem(4px);
        padding-right: toRem(53px);
        @include v.forTablet(){
            width: 603px;
            height: 429px;
            padding-right: 3.8px;
        }
        @include v.forCell(){
            width: 100%;
            height: auto;
        }
    }
    &__information{
        margin-top: toRem(42.6px);
        padding-right: toRem(22px);
        @include v.forTablet(){
            margin-top: toRem(120px);
            padding-right: 0;
        }
        @include v.forCell(){
            margin-top: toRem(38.6px);
        }
    }
    &__tittle{
        color: white;
        font-size: toRem(39.6px);
        margin-top: 0;
        margin-bottom: toRem(20.7px);
        font-weight: 600;
        line-height: toRem(60px);
        @include v.forTablet(){
            line-height: toRem(72px);
            font-size: toRem(47.7px);
            margin-bottom: toRem(26.7px);
        }
    }
    &__description{
        color: white;
        font-family: "Open Sans", sans-serif;
        font-size: toRem(18px);
        font-weight: 400;
        line-height: toRem(27px);
        margin-bottom: toRem(24px);
        @include v.forTablet(){
            line-height: toRem(48px);
            font-size: toRem(32px);
            margin-bottom: toRem(49.5px);
        }
    }
    &__button{
        box-shadow: 0px 4px 20px -9px black;
        color: v.$Violet;
        border-radius: 50px;
        background-color: white;
        padding: toRem(16.5px) toRem(64px) toRem(18.5px);
        font-size: toRem(18px);
        font-weight: 400;
        transition: background-color 0.1s, color 0.1s;
        @include v.forTablet(){
            padding: toRem(27.5px) toRem(150.7px) toRem(24px);
            font-size: toRem(24.5px);
            letter-spacing: 2;
        }
        &:hover{
            cursor: pointer;
            background-color: v.$Soft-Magenta;
            color: white;
        }
    }
}

.wrapper{
    margin: 0 toRem(70px);
    width: 1300px;
    @include v.forCell{
        margin: 0 toRem(50px);    
    }
}


.contact{
    display: flex;
    justify-content: end;
    margin: 0 toRem(2.2px) toRem(30px);
    @include v.forTablet(){
        justify-content: center;
    }
    &__social{
        margin: 0 toRem(8px);
        border-radius: 50%;
        border: 1px solid white;
        color: white;
        width: toRem(40px);
        height: toRem(40px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: toRem(17.5px);
        @include v.forTablet(){
            width: toRem(54.5px);
            height: toRem(54.5px);
            font-size: toRem(27.5px);
            margin: 0 toRem(10.7px);
        }
    }
}