@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
@import "variables";

@function deleteType($val){
    @return $val/($val*0 + 1);
};

@function toRem($val){
    @return #{deleteType($val)/16}rem;
};


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-family: "Figtree", sans-serif;
    font-size: 16px;
}
body{
    display: flex;
    min-height: 100vh;
    background-color: $Yellow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    width: min(384px , 87%);
    padding: toRem(23px);
    background-color: $White;
    border-radius: 20px;
    border: 1px solid $Black;
    box-shadow: 8px 8px $Black;
}
.boxIMG{
    width: 100%;
    height: 201px;
    &__img{
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    @include forCell(){
        height: 100%;
    }
}


.info{
    padding: toRem(23px) 0 toRem(23px);
    @include forCell(){
        padding: toRem(19px) 0 toRem(22px);
    }
    &__box{
        display: inline-block;
        padding: toRem(6.5px) toRem(12.62px);
        background-color: $Yellow;
        border-radius: 5px;
        @include forCell(){
            padding: toRem(6px) toRem(12px);
        }
    }
    &__learn{
        font-weight: $large;
        font-size: toRem(14.1px);
        @include forCell(){
            font-size: toRem(12px);
        }
    }
    &__date{
        font-weight: $small;
        font-size: toRem(13.8px);
        margin: toRem(14.5px) 0 toRem(14px);
        color: $Black;
        @include forCell(){
            font-size: toRem(12px);
            margin: toRem(15px) 0 0px;
        }
    }
    &__tittle{
        color: $Black;
        font-weight: 800;
        font-size: toRem(24.2px);
        margin: toRem(18px) 0 toRem(17px);
        &:hover{
            cursor: pointer;
            color: $Yellow;
        }
        @include forCell(){
            font-size: toRem(20px);
            margin: toRem(17px) 0 toRem(15px);
        }
    }
    &__information{
        line-height: toRem(24px);
        color: $Grey;
        font-size: toRem(15.9px);
        font-weight: 400;
        @include forCell(){
            font-size: toRem(13.9px);
            line-height: toRem(21px);
        }
    }
}
.about{
    display: flex;
    align-items: center;
    &__photo{
        width: 32px;
    }
    &__name{
        font-weight: $large;
        font-size: toRem(14px);
        padding: 0 toRem(12px);
    }
}
.attribution{
    padding: 2rem;
}


